@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  * {
    box-sizing: border-box;
  }
  body {
    background: lightgreen;
  }
  html, body, #root {
    height: 100%;
  }
  body {
    height: 100%;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  /* Document elements styles */
  .card {
    height: 200px;
    width: 120px;
    border: 1px solid purple;
    /* center the content */
    display: flex;
    align-items: center;
    justify-content: center;

  }
  .btn-help {
    background: rgb(92, 158, 233);
    height: 50px;
    width: 50px;
    margin-left: auto;
    /* center the content */
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
