@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {

  :root {
    --main-color: rgb(130,70,186);
    --accent-color: rgb(214,248,66);
    --dark-color: rgb(31,32,36);
    --bright-color: rgb(255, 255, 255);
    --neutral-color: rgb(219,216,216);
    --box-shadow: 5px 5px;
    --border-black: 3px solid rgb(31,32,36);
  }
  * {
    box-sizing: border-box;
  }
  html, body, #root {
    height: 100%;
  }

  .difficulty-btn {
    background-color: var(--accent-color);
  }
}
